<html>
	<head>
		<title>Additional Notes</title>
	</head>
	<body>
	        <div class="container">
	                <div class="header">
	                    <h1 style="text-align: center;" class=" ta">Additional Notes Service</h1>
	                </div>
	         <div class="container" align="center">
	                    <h3 style="text-align: center;">Welcome {{choices}}!!</h3>
	          </div>
	<div align="right" style="margin-right: 100px">
		<a href="/logout">Logout</a>
	</div>
	<br>
	<div align="center">
		<form action='' method="POST" enctype="multipart/form-data">
		    <p><input type='file' name='file[]' multiple='' required="true">
		    	TEAM &nbsp;
		    <select name="Group" required="true" id='sel'>
  				<option value="Admin" {% if team=="Admim" %} selected="selected"{% endif %}>Admin</option>
  				<option value="Lead" {% if team=="Lead" %} selected="selected"{% endif %}>Lead</option>
  				<option value="User"  {% if team=="User" %} selected="selected"{% endif %}>User</option>
  				<option value="new" {% if team=="New" %} selected="selected"{% endif %}>New</option>
  				<!-- <option value="audi">Audi</option> -->
			</select>
			&nbsp;&nbsp;&nbsp;&nbsp;
		    <input type='submit' value='Generate Notes'>
		    </p>
		</form>
	</div>
	</div>
	</body>
	
</html>
